<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="zaApp" type="DevZa.Configuration.ZaAppConfig, DevZa.Core" requirePermission="false"/>
  </configSections>

  <connectionStrings>
    <add name="CommonUtilityDb" connectionString="Data Source=2012stddb;Initial Catalog=ZaLibrary;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <zaApp>
    <application name="CoreSystem" appID="0"  />
    <!--AppID need to be int-->
    <environment env="Testing" enableDbLog="false" ></environment>
    <!--Production, Testing, Stage-->
    <dbConnection connectionName="CommonUtilityDb"/>
  </zaApp>
</configuration>