<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="aHadoop" type="DevZa.aHadoop.Configuration.AHadoopConfig, DevZa.aHadoop.Core" requirePermission="false"/>
    <section name="aHadoopUserInfoSecurity" type="DevZa.aHadoop.Configuration.AHadoopUserInfoConfig, DevZa.aHadoop.Core" requirePermission="false"/>
  </configSections>
  <aHadoop>
    <nameNodes>
      <add name="yourhost" ip="yourip" type="Active" />
      <add name="yourhost2" ip="yourip2" type="StandBy" />
    </nameNodes>
    <dataNodes>
      <add name="datanode1" ip="ip1" type="Active" />
      <add name="datanode2" ip="ip2" type="Active" />
      <add name="datanode3" ip="ip3" type="Active" />
    </dataNodes>
    <webhdfs nameNodePort="50070" dataNodePort="50075" saveMode="false" apiPrefix="webhdfs/v1"></webhdfs>
  </aHadoop>
  <aHadoopUserInfoSecurity>
    <user id="hadoop" password="hadoop" />
  </aHadoopUserInfoSecurity>
</configuration>